DEBUG=True

# Deployment SERVER address
SERVER=.capgemini.com

# For MySql Persistence
DB_ENGINE=mysql
DB_NAME=ai_bytes_db
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=ai_bytes_db_usr
DB_PASS=<STRONG_PASS>
