{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% load custom_filters %}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Invoices</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Invoices</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <div class="text-end upgrade-btn">
                <a href="{% url 'logout' %}" class="btn btn-danger d-none d-md-inline-block text-white">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Upload Invoices -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-4">
                                {% csrf_token %}
                                {{ form.as_p }}
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-success mx-auto">Upload Invoice</button>
                            </div>
                        </div>
                    </form>
                    {% if messages %}
                    <div>
                        {% for message in messages %}
                            {% if message.message|starts_with:'File' %}
                                {% if message.tags == "success" %}
                                    <h6 class="card-subtitle" style="color:green;">>{{ message }}</h6>
                                {% else %}
                                    <h6 class="card-subtitle" style="color:red;">{{ message }}</h6>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    {% if invoices %}
    <div class="row">
        <!-- column -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Uploaded Invoices</h4>
                    <h6 class="card-subtitle">Data received from: <code>Google Cloud Functions</code></h6>
                    <div class="table-responsive">
                        <table class="table user-table">
                            <thead>
                            <tr>
                                <th class="border-top-0">File Name</th>
                                <th class="border-top-0">Document Type</th>
                                <th class="border-top-0">Uploaded By</th>
                                <th class="border-top-0">Uploaded On</th>
                                <th class="border-top-0">Status</th>
                                <th class="border-top-0">Actions</th>
                            </tr>
                            </thead>
                            <tbody id="invoices-table-body">
                            {% for item in invoices %}
                            <tr>
                                <td>{{ item.fileName }}</td>
                                <td>{{ item.dcoumentType }}</td>
                                <td>{{ item.uploadedBy }}</td>
                                <td>{{ item.uploadedOn }}</td>
                                {% if item.documentStatus|upper == 'ACCEPTED' %}
                                    <td style="color:green;">{{ item.documentStatus }}</td>
                                {% elif item.documentStatus|upper == 'REJECTED' %}
                                    <td style="color:red;">{{ item.documentStatus }}</td>
                                {% else %}
                                    <td style="color:orange;">{{ item.documentStatus }}</td>
                                {% endif %}
                                <td><a type="button" href="{% url 'invoice_details' detail_id=item.detailId %}" data-id="{{ item.detailId }}">Show
                                    Details</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
